.table .btn {
    font-size: 12px;
    line-height: 0.5;
}

.row {
    margin-top: 15px;
    margin-bottom: 35px;
}

.description-filter {
    margin-left: 10px;
}

.input {
    margin-bottom: 5px;
}

.btn-outline-info {
    margin-top: 4px;
    margin-left: 8px;
}